/* Adaptive */

@media(max-width: 768px) {

    /* Header adaptive styles */
    
    .header {
        font-size: 80px;
        display: block;
        text-align: center;
    }

    .header a,
    .header img {
        display: none;
    }

/* Company image adaptive styles  */

    .company-img {
        background-image: url("src/img/vesiMobile.png");
        min-height: 400px;
    }

    .company-img p,
    .company-img span {
        font-size: 30px;
    }

/* Company info adaptive styles */

    .company-info-list-items {
        display: block;
    }

/* Company second image adaptive styles */

    .company-second-img {
        background-image: url("src/img/blankMobile.png");
        min-height: 260px;
        display: block;
        text-align: center;
    }

    .company-second-img-item span {
        font-size: 25px;
    }

    .company-second-img-item p {
        font-size: 15px;
    }

/* Company advantages adaptive styles */

    .company-advantages-list-items {
        display: block;
        text-align: center;
    }

/* Senior associate adaptive styles */

    .senior-associate {
        background-image: url("src/img/seniorMobile.png");
        background-size: 100%;
        min-height: 260px;
        font-size: 23px;
    }

    .senior-associate p,
    .senior-associate span {
        width: 50%;
        backdrop-filter: blur(5px);
    }

/* Footer adaptive styles  */

    .footer {
        display: block;
        font-size: 30px;
        text-align: center;
        padding: 5%;
    }


}