/* Connect fonts */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

/* Create variables */
:root {
    --primary-color: #86CAF0;
    --primary-bg-color: #59595A;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
    padding: 0;
}

hr {
    border-top: 2px solid var(--primary-color);
    width: 70%;
}

input[type="text"] {
    margin-top: 2%;
    border: 3px solid var(--primary-color);
    border-radius: 1em;
    text-align: center;
    padding: 2%;
    -webkit-box-shadow: 6px 6px 8px 2px rgba(34, 60, 80, 0.52);
    -moz-box-shadow: 6px 6px 8px 2px rgba(34, 60, 80, 0.52);
    box-shadow: 6px 6px 8px 2px rgba(34, 60, 80, 0.52);
    font-size: 70%;
}

input[type="submit"] {
    border: 3px solid var(--primary-color);
    border-radius: 1em;
    text-align: center;
    padding: 2%;
    margin: 2% 0 2% 0;
    background-color: #fff;
    -webkit-box-shadow: 6px 6px 8px 2px rgba(34, 60, 80, 0.52);
    -moz-box-shadow: 6px 6px 8px 2px rgba(34, 60, 80, 0.52);
    box-shadow: 6px 6px 8px 2px rgba(34, 60, 80, 0.52);
    font-size: 60%;
}

/* Header styles */

.header {
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    width: 100%;
    height: 100%;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Company image styles */

.company-img {
    background: url("src/img/vesi.jpg");
    min-height: 695px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-img span {
    color: var(--primary-color);
    font-size: 60px;
}

.company-img p {
    color: white;
    font-size: 60px;
    backdrop-filter: blur(2px);
}

/* Company information styles */

.company-info,
.company-advantages,
.callback {
    margin-top: 2%;
    text-align: center;
    font-size: 25px;
}


.company-info-list-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-left: 20%;
}


.company-info-item ul,
li {
    list-style-type: decimal;
    text-align: left;
}

/* Company second image styles */

.company-second-img {
    margin-top: 2%;
    background-image: url("src/img/blank.jpg");
    min-height: 470px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
}

.company-second-img-item span {
    font-size: 90px;
    color: var(--primary-color);
    backdrop-filter: blur(5px);
}

.company-second-img-item p {
    color: white;
    font-size: 50px;
    backdrop-filter: blur(5px);
}

/* Company advantages styles */

.company-advantages-list-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}

/* Senior associate styles */

.senior-associate {
    margin-top: 2%;
    background-image: url('src/img/senior.png');
    min-height: 550px;
    font-size: 50px;
    padding: 4% 0 0 4%;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
}

/* Callback styles */

.callback {
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
}

/* Footer styles */

.footer {
    background-color: var(--primary-bg-color);
    padding: 2%;
    color: var(--primary-color);
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: var(--primary-color);
}